# Entornos virtuales
env/
venv/
.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Datos procesados (se regeneran ejecutando los notebooks)
data/processed/*.parquet

Notebook4.md
Notebook5.md
Notebook6.md

